image: 
    repository: emmanuelao/complete-devops-project
    tag: 0641d5b
    pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
ingress:
  enabled: false
serviceAccount:
  enabled: false
autoscaling:
  enabled: false
